kaggle.json
EDA\fossils\predict-the-age-of-a-fossil.zip
EDA\fossils\data\test_data.csv
EDA\fossils\data\train_data.csv
EDA\fossils\data\fossils.csv
EDA\breast_cancer\breastcancerdataset.zip
EDA\breast_cancer\data\BRCA.csv